{% extends "base.html" %}

{% block title %}Собаки{% endblock %}

{% block content %}
    <h2>Породы собак</h2>
    <p>Ниже представлены некоторые породы собак 🐶</p>
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; justify-items: center;">
        <div>
            <img src="{{ url_for('static', filename='labrador.jpg') }}" alt="Лабрадор" style="width:400px; border-radius:20px;">
            <p>Лабрадор-ретривер</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename='labradori.jpg') }}" alt="Лабрадор" style="width:400px; border-radius:20px;">
            <p>Лабрадор-ретривер</p>
        </div>
    </div>
{% endblock %}
