{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    
    <style>
        body {
            text-align: center;
            background-color: #7872dbff;
            font-family: Comic Sans MS;
        }
        h1 {
            font-size: 60px;
            color: #f5f6f8f0;
            margin-top: 40px;
        }
        form {
            background: #f5f6f8f0;
            display: inline-block;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
            margin-top: 30px;
        }
        input {
            display: block;
            margin: 10px auto;
            padding: 10px;
            font-size: 18px;
            border-radius: 8px;
            border: 1px solid #ccc;
            width: 250px;
        }
        button {
            font-family: Comic Sans MS;
            background-color: #afe5f9fd;
            border-radius: 12px;
            padding: 7px 24px;
            font-size: 20px;
            margin-top: 15px;
            cursor: pointer;
            box-shadow: 0 0 15px rgba(0,0,0,0.3);
        }
        button:hover {
            background-color: #b6ffd1ff;
            box-shadow: 0 0 25px rgba(16,132,47,0.64);
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }
        .error {
            color: rgb(109, 3, 3);
            font-weight: bold;
            margin-top: 15px;
              text-align: left;
            display: inline-block
        }
        a {
            display: block;
            margin-top: 5px;
            color: black;
            font-weight: bold;
        }
    </style>
    <h2>Вход</h2>
    <form method="post">
        <input type="text" name="login" placeholder="Логин" value="{{ form.get('login','') }}">
        <input type="password" name="password" placeholder="Пароль">
        <button type="submit">Войти</button>
    </form>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
{% endblock %}
