{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h2>Регистрация</h2>
    <form method="post">
        <input type="text" name="name" placeholder="Имя" value="{{ form.get('name','') }}">
        <input type="text" name="surname" placeholder="Фамилия" value="{{ form.get('surname','') }}">
        <input type="text" name="age" placeholder="Возраст" value="{{ form.get('age','') }}">
        <input type="email" name="email" placeholder="Email" value="{{ form.get('email','') }}">
        <input type="text" name="login" placeholder="Логин" value="{{ form.get('login','') }}">
        <input type="password" name="password" placeholder="Пароль">
        <button type="submit">Зарегистрироваться</button>
    </form>
    {% if errors %}
        <div class="errors">
            <ul>
                {% for err in errors %}
                    <li>{{ err }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
