{% extends "base.html" %}
{% block title %}Курсы{% endblock %}
{% block content %}
<h2>Список курсов</h2>
<a href="{% url 'main:course_add' %}" class="btn">+ Добавить курс</a>
<ul>
  {% for c in courses %}
    <li style="margin-bottom:15px;">
      <a href="{% url 'main:course_detail' c.pk %}" style="color:#c9a4ff; font-weight:bold; text-decoration:none;">
        {{ c }}
      </a><br>
      <a href="{% url 'main:course_edit' c.pk %}" >Редактировать</a>
      <a href="{% url 'main:course_delete' c.pk %}" >Удалить</a>
      </li>
    {% empty %}
    <li>Нет курсов</li>
  {% endfor %}
</ul>
{% endblock %}
