{% extends "base.html" %}

{% block content %}
<style>
    h3 { font-size: 25px;
        text-align: center;
    }
    p { font-size: 20px;
        text-align: center;
    }
</style>
<div class="question-card">
    <h3>Вопрос:</h3>
    <p>{{ question.question }}</p>

    <form method="POST" style="text-align: center;">
        {% for ans in answers %}
            <button type="submit" name="ans_text" value="{{ ans }}" class="answer-btn">
                {{ ans }}
            </button>
        {% endfor %}
    </form>
</div>
{% endblock %}
