{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2 style="text-align: center;">Редактирование квиза</h2>
    <form method="POST">

        <label style="font-size: 19px;">Название квиза:</label>
        <input style="width:95%;" type="text" name="name" value="{{ quiz.name }}" required>

     <h3>➕ Добавить вопросы в квиз:</h3>
<ul class="question-list">
    {% for q in available_questions %}
    <li>

    <label class="question-item">
        <span class="q-text">{{ q.question }}</span>
        <label class="action">
            <input type="checkbox" name="add_q{{ q.id }}" value="{{ q.id }}">
        </label>
    </li></label>
    {% endfor %}
</ul>

            <button type="submit"> Сохранить изменения</button>
           <button type="submit" > <a style="color:white" href="/quizes_view/">Назад</a>
        </button>
    </form>
</div>
{% endblock %}
